body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.text{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea{
    border-width: 0;
    resize: none;
    width: 300px;
    height: 200px
}

.mailform{
    resize: none;
    width: 300px;
}
