{% include "header.html" %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/images/5-seconds-icon.svg" alt="" width="144" height="114">
    <h1 class="display-5 fw-bold text-body-emphasis">The most dangerous word!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Write anything you want, from essay to a poem. But be careful!
      if you stop write for 5 seconds, your whole piece of art will disappear!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ url_for('write') }}" class="btn btn-primary btn-lg px-4 gap-3" role="button">Start your try</a>
      </div>
    </div>
  </div>



{% include "footer.html" %}